$body-background-color: #080f1f;
$sidebar-color: #0a1223;
$search-background-color: #0f1b34;
$table-background-color: #0c1830;

$body-text-color: #d9e8f7;
$body-heading-color: #eef7ff;
$nav-child-link-color: #b7c9dc;
$link-color: #69d7ff;
$btn-primary-color: #18a97f;

$border-color: #28456a;
$code-background-color: #081126;
$feedback-color: darken($sidebar-color, 4%);
